.container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  grid-template-rows: 0.25fr 0.25fr 2fr 2fr 2fr 0.25fr;
  grid-template-areas: "header header header" "main main main" "section1 section1 aside" "section2 section2 aside" "section3 section3 aside" "footer footer footer";
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(255, 243, 176);
}
.container img {
  width: 30%;
}
.container .header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: rgb(254, 217, 183);
}
.container .header nav {
  width: 100%;
}
.container .header nav ul {
  display: flex;
  justify-content: flex-end;
  margin-top: -80px;
  list-style: none;
}
.container .header nav li {
  padding: 1.5rem;
  text-align: center;
  font-size: 1rem;
}
.container .header nav li a {
  text-decoration: none;
  color: rgb(34, 124, 157);
}
.container .header nav li a:hover {
  text-decoration: underline;
}
.container .header nav img {
  width: 5%;
}
.container .main {
  grid-area: main;
  background-color: rgb(34, 124, 157);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  justify-content: space-around;
  padding: 5%;
}
.container .main .animate__animated animate__zoomIn {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.container .section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
}
.container .section1 .divclass1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  height: 100%;
}
.container .section1 .divclass2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .section1 .divclass2 p {
  font-size: 1rem;
  height: 15vh;
  overflow: auto;
  max-width: 350px;
}
.container .section1 .divclass2 span {
  padding: 0.5rem;
  border-radius: 5pt;
  color: rgb(254, 217, 183);
  font-size: 1rem;
  background-color: rgb(34, 124, 157);
}
.container .section1 .divclass2 span:hover {
  background-color: rgb(15, 53, 67);
  padding: 0.5rem;
  color: rgb(254, 217, 183);
  border-radius: 5pt;
  text-decoration: underline;
}
.container .section2 {
  grid-area: section2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.container .section2 .divclass3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .section2 .divclass3 p {
  font-size: 1rem;
  height: 15vh;
  overflow: auto;
  padding: 2rem;
  max-width: 350px;
}
.container .section2 .divclass3 p span {
  padding: 0.5rem;
  border-radius: 5pt;
  color: rgb(254, 217, 183);
  font-size: 1rem;
  background-color: rgb(34, 124, 157);
}
.container .section2 .divclass3 p span:hover {
  background-color: rgb(15, 53, 67);
  padding: 0.5rem;
  color: rgb(254, 217, 183);
  border-radius: 5pt;
  text-decoration: underline;
}
.container .section3 {
  grid-area: section3;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.container .section3 h2 {
  color: rgb(34, 124, 157);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  max-width: 200px;
}
.container .section3 span {
  margin: -2% 20% 0% 7%;
  padding: 0.5rem;
  border-radius: 5pt;
  color: rgb(254, 217, 183);
  font-size: 1rem;
  background-color: rgb(34, 124, 157);
}
.container .section3 span:hover {
  background-color: rgb(15, 53, 67);
  padding: 0.5rem;
  color: rgb(254, 217, 183);
  border-radius: 5pt;
  text-decoration: underline;
}
.container .aside {
  grid-area: aside;
}
.container .aside h3 {
  color: rgb(34, 124, 157);
  margin-top: 10%;
}
.container .aside h5 {
  margin: 10% 0 0 0;
  color: rgb(34, 124, 157);
}
.container .aside article a img {
  padding: 1rem;
}
.container .aside article p {
  font-size: 0.8rem;
  padding: 1em;
  max-width: 400px;
  width: o auto;
}
.container .aside .divclass4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.container .footer {
  grid-area: footer;
  background-color: rgb(254, 217, 183);
  padding: 1em;
  width: 100%;
}
.container .footer ol {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  list-style: none;
  height: 3rem;
}
.container .footer oli {
  color: black;
  width: 50%;
}/*# sourceMappingURL=index.css.map */