.containerportfolio { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.6fr 0.2fr;
    gap: 5px 5px;
    grid-template-areas:
      "header header header"
      "section1portfolio section2portfolio asideportfolio"
      "footer footer footer";
      min-height: 50%;
      min-width: 100%;
      background-color: rgb(255, 243, 176);
 

    .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: rgb(254, 217, 183); 

        nav{
        width: 100%;  
        
            nav ul{
            display: flex;
            justify-content: flex-end;
            margin-top: -80px;
            list-style: none;
                
  
                nav li {
                padding: 1.5rem;
                text-align: center;
                font-size: 1rem;
                }
  
                nav li a {
                text-decoration: none;
                color: rgb(34, 124, 157);
                    &:hover {
                    text-decoration: underline;
                    }
                }
            }  
        }
        nav img {
        width: 5%;
        }
    }
    
    .section1portfolio { 
    grid-area: section1portfolio;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
        
        .divportfolio{
        display: flex;
        flex-direction: row;
        margin: 2rem 0 4rem 4rem;
        padding: 2rem;
        background-color: rgb(248, 246, 246);
        border-radius: 5pt;
        box-shadow: 5px 5px 5px rgb(190, 190, 190);  

        li{
        list-style: none;
        margin: 20%;
        }
  
        h1{
        color: rgb(34, 124, 157);
        font-size: 2rem;
        } 
        }
    }
  
    .section2portfolio { 
    grid-area: section2portfolio; 
    display: flex;
    flex-direction: column;
    
        .classportfolio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10%;
          
            button{
            padding: 0.5rem;
            border-radius: 5pt;
            font-size: 1rem;
            background-color: rgb(184, 196, 201);
            &:active {
            color: black;
                }
            }
        }
    }
  
    .asideportfolio {
    grid-area: asideportfolio;
         
        h3 {
        color: rgb(34, 124, 157);
        margin-top: 10%;
        }
      
        h5 {
        margin: 10% 0 0 0;
        color: rgb(34, 124, 157);
        }
    
        article a img {
        padding: 1rem;
        }
      
        article p {
        font-size: 0.8rem;
        padding: 1em;
        max-width: 400px;
        width: o auto;
        }
    
        .divclass4{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 auto;
        }
    }
    
    .footer {
    grid-area: footer;
    background-color: rgb(254, 217, 183);
    padding: 1em;
    width: 100%;
     
        ol {
        display: flex;
        justify-content: space-evenly;
        align-content: space-around;
        align-items: center;
        list-style: none;
        height: 3rem;
            &i {
            color: black;
            width: 50%;
            }
        }
    }
}